# DB Properties
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=

# Spring Properties
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_DATASOURCE_URL=

# JWT Properties
SECURITY_JWT_TOKEN_SECRET_KEY=
SECURITY_JWT_TOKEN_EXPIRE_LENGTH=
SECURITY_JWT_REFRESH_TOKEN_EXPIRE_LENGTH=